#Mac
*.DS_Store
*.log
*.tsbuildinfo

# npm, yarn
.pnp.*
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/packge-lock.json
**/node_modules/

# build
**/dist/*
dist

# storybook
**/storybook-static/

# next.js
**/.next/
**/out/

# production
**/build